extends layout

block content
  
  section(class="container")
    section(class="row")
        div(class="col s12")
            h1 datos
            div(class="divider")
            table(class="striped centered responsive-table")
                thead
                    tr
                        th hand
                        th pvx
                        th pvy
                        th pvz
                        th spx
                        th spy
                        th spz
                tbody
                    each item in collections
                     tr
                        td= item.hand

                        td= item.palm_velocity[0]
                        td= item.palm_velocity[1]
                        td= item.palm_velocity[2]

                        td= item.sphere_center[0]
                        td= item.sphere_center[1]
                        td= item.sphere_center[2]
